.red{
    background-color: red;
    color: white;
}
#head{
    background-color: yellow;
}
.one{
    background-color: maroon;
    color: lawngreen;
}
.two{
    background-color: blueviolet;
    color: orange;
}